services:
  proxy:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    container_name: proxy
    hostname: proxy
    ports:
      # These ports are in format <host-port>:<container-port>
      - '80:80' # Public HTTP Port
      - '443:443' # Public HTTPS Port
      - '81:81' # Admin Web Port
      # Add any other Stream port you want to expose
      # - '21:21' # FTP
    environment:
      # Mysql/Maria connection parameters:
      DB_MYSQL_HOST: "db"
      DB_MYSQL_PORT: 3306
      DB_MYSQL_USER: "npm"
      DB_MYSQL_PASSWORD__FILE: /run/secrets/db_password
      DB_MYSQL_NAME: "npm"
      # Uncomment this if IPv6 is not enabled on your host
      # DISABLE_IPV6: 'true'
    volumes:
      - /srv/proxy/data:/data
      - /srv/proxy/letsencrypt:/etc/letsencrypt
    secrets:
      - db_password
    depends_on:
      - db

  db:
    image: 'jc21/mariadb-aria:latest'
    restart: unless-stopped
    container_name: db
    hostname: db
    environment:
      MYSQL_ROOT_PASSWORD__FILE: /run/secrets/db_root_password
      MYSQL_DATABASE: 'npm'
      MYSQL_USER: 'npm'
      MYSQL_PASSWORD__FILE: /run/secrets/db_password
      MARIADB_AUTO_UPGRADE: '1'
    volumes:
      - /srv/proxy/mysql:/var/lib/mysql
    secrets:
      - db_password
      - db_root_password

  base-rosindex_web:
    image: 'nginx:1.27'
    restart: unless-stopped
    ports:
      # These ports are in format <host-port>:<container-port>
      - '8089:80' # Public HTTP Port
    volumes:
      - /srv/base-rosindex/_site:/usr/share/nginx/html
      - /srv:/srv
    container_name: base-rosindex_web
    hostname: base-rosindex_web

  pr-rosindex_web:
    image: 'nginx:1.27'
    restart: unless-stopped
    ports:
      # These ports are in format <host-port>:<container-port>
      - '8081:80' # Public HTTP Port
    volumes:
      - /srv/pr-rosindex/_site:/usr/share/nginx/html
      - /srv:/srv
    container_name: pr-rosindex_web
    hostname: pr-rosindex_web

  dev-rosindex_web:
    image: 'nginx:1.27'
    restart: unless-stopped
    ports:
      # These ports are in format <host-port>:<container-port>
      - '8084:80' # Public HTTP Port
    volumes:
      - /srv/dev-rosindex/_site:/usr/share/nginx/html
      - /srv:/srv
    container_name: dev-rosindex_web
    hostname: dev-rosindex_web

  dev-rosdoc2_web:
    build: './rosdoc2_web'
    restart: unless-stopped
    ports:
      # These ports are in format <host-port>:<container-port>
      - '8082:80' # Public HTTP Port
    volumes:
      - /srv/dev-rosdoc2:/usr/share/nginx/html
      - /srv:/srv
    container_name: dev-rosdoc2_web
    hostname: dev-rosdoc2_web

  pr-rosdoc2_web:
    build: './rosdoc2_web'
    restart: unless-stopped
    ports:
      # These ports are in format <host-port>:<container-port>
      - '8085:80' # Public HTTP Port
    volumes:
      - /srv/pr-rosdoc2:/usr/share/nginx/html
      - /srv:/srv
    container_name: pr-rosdoc2_web
    hostname: pr-rosdoc2_web

  base-rosdoc2_web:
    build: './rosdoc2_web'
    restart: unless-stopped
    ports:
      # These ports are in format <host-port>:<container-port>
      - '8087:80' # Public HTTP Port
    volumes:
      - /srv/base-rosdoc2:/usr/share/nginx/html
      - /srv:/srv
    container_name: base-rosdoc2_web
    hostname: base-rosdoc2_web

  music_web:
    build: './rosdoc2_web'
    restart: unless-stopped
    ports:
      # These ports are in format <host-port>:<container-port>
      - '8086:80' # Public HTTP Port
    volumes:
      - /srv/music:/usr/share/nginx/html
      - /srv:/srv
    container_name: music_web
    hostname: music_web

  ai_demo_web:
    build: './rosdoc2_web'
    restart: unless-stopped
    ports:
      # These ports are in format <host-port>:<container-port>
      - '8088:80' # Public HTTP Port
    volumes:
      - /srv/ai_demo/docs_output:/usr/share/nginx/html
      - /srv:/srv
    container_name: ai_demo_web
    hostname: ai_demo_web

  ai_index_web:
    build: './rosdoc2_web'
    restart: unless-stopped
    ports:
      # These ports are in format <host-port>:<container-port>
      - '8090:80' # Public HTTP Port
    volumes:
      - /srv/ai_index/_site:/usr/share/nginx/html
      - /srv:/srv
    container_name: ai_index_web
    hostname: ai_index_web

  jenkins:
    build: ./jenkins
    restart: unless-stopped
    container_name: jenkins
    hostname: jenkins
    ports:
      - '8080:8080'
      - '50000:50000'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./:/var/docker_farm
      - /srv/disks/ros2:/ros2
      - /srv:/srv
      - /ros2/jenkins:/var/jenkins_home
    group_add:
      - 998 #docker group id
    # JENKINS_HOME should point to a directory that it the same in host and container.
    # Otherwise, docker volumes in the container don't match.
    environment:
      JENKINS_HOME: /ros2/jenkins
      TZ: America/Los_Angeles

  rosdabbler_com:
    image: 'nginx:1.27'
    restart: unless-stopped
    ports:
      # These ports are in format <host-port>:<container-port>
      - '8083:80' # Public HTTP Port
    volumes:
      - ./rosdabbler_web:/usr/share/nginx/html
    container_name: rosdabbler_web
    hostname: rosdabbler_web

secrets:
  db_password:
    file: secrets/db_password.txt
  db_root_password:
    file: secrets/db_root_password.txt
